/* Body */
body {
    background-color: lightgray;
    font-family: "Segoe UI", sans-serif;
}

/* Botao Custom*/
.btn-custom-green {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom-green:hover,
.btn-custom-green:focus,
.btn-custom-green:active {
    background-color: darkgreen;
    color: white;
}

.btn-custom-blue{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom-blue:hover,
.btn-custom-blue:focus,
.btn-custom-blue:active {
    background-color: darkblue;
    color: white;
}

.btn-custom-red{
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom-red:hover,
.btn-custom-red:focus,
.btn-custom-red:active {
    background-color: darkred;
    color: white;
}

.img-topo {
    width: 200px;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}